<h2>Gyakran Ismételt Kérdések</h2>
<div class="centered-card">
    <h3>Merre találom az útvonaltervezőt?</h3>
    <p>Sajnos egyelőre nem áll rendekezésre útvonaltervező, azonban a tervben van!</p>
</div>
<div class="centered-card">
    <h3>Miért nem akkor érkezett a járat, amikor az alkalmazás írta?</h3>
    <p>Az adatbázis harmadik féltől szrámazik, és az alkalmazás ezt minden nap ellenőrzi.<br>
        Ez az adatbázis azonban nem hivatalos, pontossága nem garantált.<br>
        Az adatok nem valós idejűek, ezért elképzelhető későbbi (esetleg korábbi) indulás a megállóból.
    </p>
</div>
<div class="centered-card">
    <h3>Honnan származnak a hírek?</h3>
    <p>A híreket a társaság honlapjáról származnak.<br>
        Megbízhatósága a társaságon múlik.
    </p>
</div>
<div class="centered-card">
    <h3>Mit jelentenek a megállók nevei után lévő számok?</h3>
    <p>Sok megálló párban áll néhány megállóval, előfordulhat, hogy a nevük megegyezik.<br>
        Az azonos nevű megállókat így a mögöttük álló szám különbözteti meg, amivel a térképen, listában és menetrendben könnyebb azokat megkülönböztetni.
    </p>
</div>
<div class="centered-card">
    <h3>Valós idejűek az indulási idők?</h3>
    <p>Nem, az indulási idők a menetrendet tükrözik.<br>
        Valós idejű információ jelenleg nem áll rendelkezésre.<br>
        Amint a szolgáltató elérhetővé tesz valós idejű adatokat, igyekszem itt is megjeleníteni.
    </p>
</div>
<div class="centered-card">
    <h3>Kapcsolatban áll az alkalmazás a társaságokkal?</h3>
    <p>
        Nem áll kapcsolatban társasággal a projekt, viszont együttműködés a hasznunkra válna.<br>
    </p>
</div>
<div class="centered-card">
    <h3>Készült-e mobilalkalmazás?</h3>
    <p>Nem készült mobolalkalmazás, és nincs is tervben.<br>
        Ez a webalkalmazás reszponzívan lett megtervezve, és minden eszközön használható.<br>
        Ajánlott könyvjelzőként a főképernyőre helyezni a gyors elérés érdekében!
    </p>
</div>
<div class="centered-card">
    <h3>Miért tölt be lassan egy megálló oldala?</h3>
    <p>
        Egy megálló adatait időigényes lekérni az adatbázisból, továbbá a szerver leterheltségétől függ.
    </p>
</div>
<h2>Adatkezelés</h2>
<div class="centered-card">
    <h3>Nem történik adatgyűjtés</h3>
    <p>
        Az alkalmazás nem gyűjt adatokat, illetve a szerver sem tárol a felhasználóról semmit!<br>
        A tartózkodási helyek sincsenek tárolva.<br>
        Minden lekérdezésnél ki vannak értékelve a közeli indulások.
    </p>
</div>