@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary-color: #2978b5;
    --secondary-color: #7aa5c3;
    --dark-color: #004577;
    --font-color: white;
    --background-color: #d3f3ff;
    --red: rgb(190, 0, 0);
    --shadow: 8px 8px 16px #bedbe6, -8px -8px 16px #e8ffff;
    --shadow-menu:  8px 8px 16px #23669a, -8px -8px 16px #2f8ad0;
    --shadow-input: inset 8px 8px 16px #b3cfd9, inset -8px -8px 16px #f3ffff;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--dark-color);
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a.external{
    text-decoration: underline;
}

h1, h2, h3, p{
    margin: 10px;
}

h1{
    font: optional;
}

h2{
    text-align: center;
}

hr{
    border: 1px solid var(--primary-color);
    width: 100%;
    border-radius: 10px;
}

.icon{
    stroke: var(--dark-color);
    margin: 0 10px;
}
.icon-tabler-alert-octagon{
    stroke: var(--red);
}
/* Animations */
.animation1{
    transition: transform 0.1s;
}
.animation1:hover{
    transform: scale(1.05);
}
/* Title Bar */
.title-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    background-color: var(--primary-color);
    color: var(--background-color);
}

/* Navigation */

nav{
    display: flex;
    align-items: center;
    color: var(--background-color);
}

nav > a{
    font-size: 25px;
}

nav.hamburger-menu{
    display: none;
    flex-direction: column;
    background-color: var(--primary-color);
}

button.hamburger-button{
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

button.hamburger-button > svg{
    stroke: var(--background-color);
    margin: 0;
}

nav > a, button.hamburger-button{
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    transition: transform 0.1s;
    box-shadow: var(--shadow-menu);
    
}

nav > a:hover, button.hamburger-button:hover{
    transform: scale(1.05);
}

/* Content */
.content{
    min-height: calc(100vh - 100px - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > *{
    max-width: 90%;
    margin: 20px;
}

.card{
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
    background: #d3f3ff;
    box-shadow: var(--shadow);
}

.align-center{
    text-align: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column{
    text-align: center;
}

.column > * > *, .grid > * {
    margin: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.route-field{
    background-color: rgb(0, 132, 255);
    color: white;
    min-width: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stop-field{
    border-radius: 200px;
    text-align: center;
    padding: 5px;
    box-shadow: var(--shadow);
}

input[type="text"]{
    width: 500px;
    max-width: 90%;
    box-shadow: var(--shadow-input);
    -webkit-box-shadow: var(--shadow-input);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--background-color);
    border: none;
    border-radius: 300px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: var(--dark-color);
    height: 50px;
}

button{
    cursor: pointer;
}

button.content-button{
    border-radius: 300px;
    box-shadow: var(--shadow);
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

div.search-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div#stop-search-results{
    display: none;
}

div.flex-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Table */
table{
    border-collapse: collapse;
}
table.timetable tr:nth-of-type(even){
    background-color: var(--secondary-color);
    color: var(--background-color);
}
table.timetable td:first-child{
    background-color: var(--dark-color);
    color: var(--background-color);
    font-weight: bold;
}
table.timetable td{
    margin: 0;
    padding: 10px;
    font-size: large;
}
table.timetable td.next-time{
    border: 3px solid var(--red);
}

table.departures tr{
    cursor: pointer;
}

table.departures td{
    padding: 10px 0;
}

tr.past-departure{
    filter: opacity(.3)
}

tr.next-departure{
    border-right: 3px solid var(--red);
}

/* Footer */
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--background-color)
}

@media screen and (max-width: 770px){
    nav.normal-menu{
        display: none;
    }
    button.hamburger-button{
        display: flex;
    }
}

@media screen and (max-width: 440px){
    h1{
        font-size: 25px;
    }
}